func (e *__datagen_{{.FullyQualifiedModelName}}) ToCSV() []string {
	return []string{
		{{- range .Fields}}
		fmt.Sprintf("%v", e.{{.Name}}),
		{{- end}}
	}
}

func (e *__datagen_{{.FullyQualifiedModelName}}) CSVHeaders() []string {
	return []string{
		{{- range .Fields}}
		"{{.Name}}",
		{{- end}}
	}
}

