func (cg *__datagen_{{.FullyQualifiedModelName}}Generator) Gen(iter int) __dgi_Record {
	return &__datagen_{{.FullyQualifiedModelName}}{
{{- range .Fields}}
		{{.Name}}: cg.{{.Name}}(iter),
{{- end}}
	}
} 