type __datagen_{{.FullyQualifiedModelName}}Generator struct {
{{- range .Fields}}
	{{.Name}} func(iter int) {{.Type}}
{{- end}}
        all *__datagen_{{.FullyQualifiedModelName}}DataHolder
	datagen *DataGenGenerators
} 