type {{.FullyQualifiedModelName}}Generator struct {
{{- range .Fields}}
	{{.Name}} func(iter int) {{.Type}}
{{- end}}
        all *{{.FullyQualifiedModelName}}DataHolder
	datagen *DataGenGenerators
} 