var {{ .FullyQualifiedModelName }}Metadata __dgi_Metadata = __dgi_Metadata{
	Count: {{ .Metadata.Count }},
	Tags: {{ if .Metadata.Tags }}map[string]string{
		{{- range $k, $v := .Metadata.Tags }}
		"{{ $k }}": "{{ $v }}",
		{{- end }}
	}{{ else }}map[string]string{}{{ end }},
}

func (cg *__datagen_{{.FullyQualifiedModelName}}Generator) Metadata() __dgi_Metadata {
     return {{ .FullyQualifiedModelName }}Metadata
}