package main

import (
       "sync"
)

{{- define "emitDirTree" -}}
type {{ dirName . }}Dir struct {
    {{- range models . }}
    {{ last . }} func() *__datagen_{{ . }}Generator
    {{- end }}
    {{- range children . }}
    {{ dirName . }} *{{ dirName . }}Dir
    {{- end }}
}
{{- range children . }}
{{ template "emitDirTree" . }}
{{- end }}
{{- end }}

type DataGenGenerators struct {
    {{- range models .DgDir }}
    {{ last . }} func() *__datagen_{{ . }}Generator
    {{- end }}
    {{- range children .DgDir }}
    {{ dirName . }} *{{ dirName . }}Dir
    {{- end }}

    __links *Links
}


{{- range children .DgDir }}
{{ template "emitDirTree" . }}
{{- end }}

type Metadata struct {
	Count int
	Tags  map[string]string
}

{{- range .SanitisedModelNames}}
func {{ .}}Func(model *__datagen_{{ .}}Generator, tail string) func() *__datagen_{{ .}}Generator {
     return func() *__datagen_{{ .}}Generator {
     	    model.datagen.__links.AcceptSignal(tail)
	    return model
     }
}
{{- end}}


func initGeneratorsAndModels() (*DataGenGenerators, map[string]RecordGenerator) {
	{{- range .SanitisedModelNames}}
	{{ .}}Generator := __init___datagen_{{.}}Generator()
	{{- end}}

	// Construct directory instances bottom-up so children are available
	{{- define "emitDirInstances" -}}
	{{- range children . }}
	{{ template "emitDirInstances" . }}
	{{- end }}
	{{ dirName . }}Dir := &{{ dirName . }}Dir{
		{{- range models . }}
		{{ last . }}: {{ .}}Func({{ .}}Generator, "{{ dot . }}"),
		{{- end }}
		{{- range children . }}
		{{ dirName . }}: {{ dirName . }}Dir,
		{{- end }}
	}
	{{- end }}
	{{- range children .DgDir }}
	{{ template "emitDirInstances" . }}
	{{- end }}

	datagen := &DataGenGenerators{
		{{- range models .DgDir }}
		{{ last . }}: {{ .}}Func({{ last .}}Generator, "{{ dot . }}"),
		{{- end }}
		{{- range children .DgDir }}
		{{ dirName . }}: {{ dirName . }}Dir,
		{{- end }}

 		__links: &Links{
 			mu:       sync.Mutex{},
 			data:     map[string]map[string]struct{}{},
 		},
	}
	{{- range .SanitisedModelNames}}
	{{.}}Generator.datagen = datagen
	{{- end}}

	// model registry
	models := map[string]RecordGenerator{
		{{- range .SanitisedModelNames}}
		"{{ dot . }}": {{.}}Generator.Gen,
		{{- end}}
	}

    return datagen, models
}