package main

import (
       "sync"
)

{{- define "emitDirTree" -}}
type __dgi_{{ dirName . }}Dir struct {
    {{- range models . }}
    {{ last . }} func() *__datagen_{{ . }}Generator
    {{- end }}
    {{- range children . }}
    {{ dirName . }} *__dgi_{{ dirName . }}Dir
    {{- end }}
}
{{- range children . }}
{{ template "emitDirTree" . }}
{{- end }}
{{- end }}

type __dgi_DataGenGenerators struct {
    {{- range models .DgDir }}
    {{ last . }} func() *__datagen_{{ . }}Generator
    {{- end }}
    {{- range children .DgDir }}
    {{ dirName . }} *__dgi_{{ dirName . }}Dir
    {{- end }}

    __links *__dgi_Links
}


{{- range children .DgDir }}
{{ template "emitDirTree" . }}
{{- end }}

type __dgi_Metadata struct {
	Count int
	Tags  map[string]string
}

{{- range .SanitisedModelNames}}
func __dgi_{{ .}}Func(model *__datagen_{{ .}}Generator, tail string) func() *__datagen_{{ .}}Generator {
     return func() *__datagen_{{ .}}Generator {
            model.datagen.__links.AcceptSignal(tail)
	    return model
     }
}
{{- end}}


func __dgi_initGeneratorsAndModels() (*__dgi_DataGenGenerators, map[string]__dgi_RecordGenerator) {
	{{- range .SanitisedModelNames}}
	{{ .}}Generator := __init___datagen_{{.}}Generator()
	{{- end}}

	// Construct directory instances bottom-up so children are available
	{{- define "emitDirInstances" -}}
	{{- range children . }}
	{{ template "emitDirInstances" . }}
	{{- end }}
    {{ dirName . }}Dir := &__dgi_{{ dirName . }}Dir{
		{{- range models . }}
        {{ last . }}: __dgi_{{ .}}Func({{ .}}Generator, "{{ dot . }}"),
		{{- end }}
		{{- range children . }}
		{{ dirName . }}: {{ dirName . }}Dir,
		{{- end }}
	}
	{{- end }}
	{{- range children .DgDir }}
	{{ template "emitDirInstances" . }}
	{{- end }}

    datagen := &__dgi_DataGenGenerators{
		{{- range models .DgDir }}
        {{ last . }}: __dgi_{{ .}}Func({{ last .}}Generator, "{{ dot . }}"),
		{{- end }}
		{{- range children .DgDir }}
		{{ dirName . }}: {{ dirName . }}Dir,
		{{- end }}

 		__links: &__dgi_Links{
 			mu:       sync.Mutex{},
 			data:     map[string]map[string]struct{}{},
 		},
	}
	{{- range .SanitisedModelNames}}
	{{.}}Generator.datagen = datagen
	{{- end}}

	// model registry
    models := map[string]__dgi_RecordGenerator{
		{{- range .SanitisedModelNames}}
        "{{ dot . }}": {{.}}Generator.Gen,
		{{- end}}
	}

    return datagen, models
}