name: Go Lint

on:
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize

  push:

permissions:
  contents: read

jobs:
  lint:
    name: Run Go Linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1

      - name: Download Go modules
        run: go mod download

      - name: Run tests
        run: go test -v ./...